@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    font-family: "Manrope", sans-serif;
    color: #131318;
}
.arrows .left-arrow, .arrows .right-arrow, .texts{
    background-color: #131318;
}
.texts .texts__description{
    color: #FFFFFF99;
}
#image-container img{
    object-position: 0px 35%;
}