.section-title{
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #212121;
}
.contact-section{
    background-image: linear-gradient(rgba(244, 244, 244, 0.5), rgba(244, 244, 244, 0.5)), url('../assets/bg.jpg');
}